@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .myUl li {
    padding: 4px;
    text-transform: capitalize;
    font-size: 600;
  }
  .toLast button {
    padding: 0 8px 1px 8px;
    background-color: #9173f1;
    color: white;
  }
  .palse {
    text-transform: capitalize;
  }
  .pageBox {
    width: 220px;
    height: 200px;
    background-color: #dc33b7;
    position: relative;
  }
  .page_caption {
    width: 40px;
    height: 20px;
    background-color: #fff;
    position: absolute;
  }
}

@layer components {
  .btnexecutor {
    @apply col-span-3 py-3 bg-gray-500 hover:bg-gray-600 font-semibold text-xl rounded;
  }
  .mSign {
    @apply col-span-1 py-1 bg-gray-500 hover:bg-gray-600 font-semibold text-xl rounded;
  }
  .contiser {
    @apply px-2;
  }

  /* todo app assignment*/
  .contentDiv {
    @apply flex justify-between items-center gap-2 p-2 mb-2 border border-black;
  }
  .contentTask {
    @apply w-[60%] py-2 pl-2 p-2 bg-transparent capitalize;
  }
  .contentBtn {
    @apply flex gap-2;
  }
  .editBtnn {
    @apply py-1 px-4 bg-blue-600 text-white;
  }
  .deleteBtn {
    @apply py-1 px-3 bg-red-600 text-white;
  }

  /* todoApp my  */
  .deleteBtn2 {
    @apply bg-red-600 pb-[1px] px-4;
  }
  .leftInput {
    @apply flex justify-between border border-blue-950 p-1 mb-4;
  }
  .edit2 {
    @apply pb-[1px] px-4 bg-blue-500 text-white;
  }
  .EditInputTask {
    @apply p-1 bg-transparent capitalize;
  }
  .lastInputTask {
    @apply p-1 bg-transparent capitalize;
  }
  /* right textDiv  */
  .rightInput {
    @apply flex justify-between border border-blue-950 p-1 mb-4;
  }
  .delete2 {
    @apply pb-[1px] px-4 bg-red-500 text-white;
  }

  /* =========Cahracter counter app==================== */
  .palse {
    @apply animate-pulse bg-blue-300;
  }
  .danger {
    @apply animate-pulse bg-red-600;
  }
}
